*{
    padding: 0;
    margin: 0;
    
}
*


.menuTable{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}

caption{
    text-decoration: underline black;
    margin: 20px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1rem;
    width: 60%;
  }

  td,
  th {
    border: 1px solid rgb(235, 235, 235);
    padding: 20px 20px;
  }

  th {
    background-color: rgb(235, 235, 235);
  }

  td {
    text-align: center;
  }

  tr:nth-child(even) td {
    background-color: rgb(120, 120, 120);
  }

  tr:nth-child(odd) td {
    background-color: rgb(120, 120, 120);
  }

  caption {
    padding: 20px;
  }

  tbody {
    font-size: 90%;
    font-style: italic;
  }

  .navigation{
    display: flex;
    justify-content: center;
    margin: 20px;
    

  }
  .navigation a{
    letter-spacing: 1px;
    padding: 0px 300px 0px 300px ;
  }