*{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
body{
    background-color: rgb(90, 90, 90);
    
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bar{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 85%;

}
.nav{
  display: flex;
  justify-content: center;
  padding-left: 85px;
  background-color: rgb(120, 120, 120);
  border: rgb(150, 150, 150) solid 2px;
  padding-top: 3px;
  border-radius: 10px;

}
.nav img{
  margin-right: 150px;

}
.deco{
  margin-left: 150px;
}
.menuTable{
  display: flex;
  justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 15px;
    padding-right: 20px;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  }

  li a.active {
    background-color: #00A5AD;
    
    color: white;
    border-radius: 10%;
  }
  
  li a:hover {
    transition: 0.5s;
    background-color: #6ec1e4;
    
  }

  li a:hover:not(.active) {
    background-color: #555;
    text-decoration: underline white;
    color: white;
    border-radius: 10px;
  }




