
body{
    background-color: rgb(90, 90, 90);
}

nav{
  display: flex;
  justify-content: center;
  padding-left: 85px;

}
.nav img{
  margin-right: 150px;

}
.deco{
  margin-left: 150px;
}
.menuTable{
  display: flex;
  justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 90, 90);
  }

  li {
    float: left;
    margin-right: 15px;
    padding-right: 20px;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  
  }

  li a.active {
    background-color: rgb(38, 140, 0);
    color: white;
    border-radius: 10%;
  }
  
  li a:hover {
    background-color: rgb(38, 100, 0);
  }

  li a:hover:not(.active) {
    background-color: #555;
    text-decoration: underline white;
    color: white;
  }




